.container{
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 98vh;
    width: 98vw;
}


.formfill{
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 50px;
    width: auto;
    height: auto;
    overflow: hidden;

}

button{
    width: 100%;
    height: 2rem;
    background-color: navy;
    color: white;
    border: none;
}

input, button{
    height: 50px;
    width: 100%;
    border-style: none;
    max-width: 500px;


}

input, button, label, input{
    margin: 5px;
}

input{
    background-color: #dddddd;
}


img{
    width: 100%;

}

.ckb{
    display: flex;
    align-items: centre;
}

#remember{
    width: 3px;
}

#ckb{
    max-width: 15px;
    max-height: 15px;
    
}



@media screen and (min-width: 650px){
    .container{
        flex-direction: row-reverse;
    }

    .formfill{
        align-items: center;
        width: 25%;
    }

    form{
        padding-bottom: 15vh;
    }

    img{
        height: 100%;
    }

    .ckb{
        align-items: center;
    }
}